<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.app.splitwise_clone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:configChanges="orientation|screenSize"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">

        <activity
            android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SummaryActivity"
            ></activity>
<!--        android:parentActivityName=".SignIn"-->
        <activity android:name=".FriendsList"></activity>
        <activity android:name=".AddFriend"
            android:parentActivityName=".SummaryActivity"></activity>

        <activity android:name=".groups.GroupsList"></activity>
        <activity android:name=".expense.ExpenseList"
    android:parentActivityName=".groups.GroupsList"></activity>

        <activity android:name=".expense.AddExpense"></activity>
        <activity android:name=".groups.AddGroup" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>


        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name=".widget.BalanceWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_balanceinfo">

            </meta-data>
        </receiver>

        <!--        https://blog.usejournal.com/send-device-to-device-push-notifications-without-server-side-code-238611c143-->
        <service android:name=".widget.BalanceService" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>